<% if(typeof errors !== 'undefined') { %>
    <% errors.forEach(function(error) { %>
        <div class="alert alert-danger align-items-center alert-dismissible fade show" role="alert">
            <div>
                <%= error.msg %>
            </div>

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i data-feather="x"></i>
            </button>
        </div>
    <% }); %>
<% } %>

<% if(success_msg.length !== 0) { %>
    <div class="alert alert-success align-items-center alert-dismissible fade show" role="alert">
        <div>
            <%= success_msg %>
        </div>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i data-feather="x"></i>
        </button>
    </div>
<% } %>

<% if(error_msg.length !== 0) { %>
    <div class="alert alert-danger align-items-center alert-dismissible fade show" role="alert">
        <div>
            <%= error_msg %>
        </div>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i data-feather="x"></i>
        </button>
    </div>
<% } %>

<% if(error.length !== 0) { %>
    <div class="alert alert-danger align-items-center alert-dismissible fade show" role="alert">
        <div>
            <%= error %>
        </div>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i data-feather="x"></i>
        </button>
    </div>
<% } %>