.cursor-pointer {
    cursor: pointer;
}

body {
    background-color: #00a0ac;
}


.btn-primary {
    color: #fff;
    background-color: #00a0ac;
    border-color: #00a0ac;
}
.btn-primary:hover {
    color: #fff;
    background-color: #ADCD30;
    border-color: #ADCD30;
}

a {
    color: #00a0ac;
}

a:hover {
     color: #ADCD30;
 }


.pos-fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999999;
}