<%
user = typeof user !== "undefined" ? user :  {};
items = typeof items !== "undefined" ? items : [];
%>
<div id="mySidebar" class="sidebar">
    <a href="#">Sport courts</a>
    <a href="#">Vehicles</a>
    <a href="#">Items</a>
    <a href="#">Services</a>
</div>

<div id="main">
    <%- include('../partials/dialog-add'); %>
    <div class="top-bar">
        <div class="row h-100 align-items-end">
            <div class="col">
                <h5 id="heading-explore">Sport courts</h5>
            </div>
            <div class="col text-right">
                <div id="add-dialog-open" class="btn btn-outline-primary btn-sm">Add +</div>
            </div>
        </div>
    </div>
    <hr style="margin: 0px 20px;">
    <div class="content">
        <div id="myPlaces">
            <div class="d-flex flex-row flex-nowrap horizontal-scroll py-3">
                <%
                    for(let i = 1; i <= items.length; i++){
                        let item = items[i-1];
                %>
                <div class="col-3 p-0 pr-3">
                    <div class="card card-block">
                        <img class="card-img-top" src="/uploads/<%= item.image || 'defaultItem.png' %>" alt="items image">
                        <div class="card-body">
                            <h6 class="card-title"><%= item.title || '- title missing -' %></h6>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
                <%
                    }
                %>
            </div>
        </div>

<!--        <div id="allPlaces">-->
<!--        </div>-->
    </div>
</div>