<%
user = typeof user !== "undefined" ? user :  {};
item = typeof item !== "undefined" ? item : {};
%>

<div id="mySidebar" class="sidebar">
    <a href="#">Sport courts</a>
    <a href="#">Vehicles</a>
    <a href="#">Items</a>
    <a href="#">Services</a>
</div>

<div id="main">
    <div class="top-bar">
        <div class="row h-100 align-items-end">
            <div class="col">
                <h5 id="heading-explore"><%= item.title %></h5>
            </div>
            <div class="col text-right mb-2">
                <a href="/explore" class="btn btn-outline-danger btn-sm">Back</a>
<!--                <button type="submit" class="btn btn-primary btn-sm">-->
<!--                    Save-->
<!--                </button>-->
            </div>
        </div>
    </div>
    <hr style="margin: 0px 20px;">
    <div class="content">
            <div class="row px-2">
                <div class="col">
                    <%- include('../partials/messages'); %>
                </div>
            </div>
    </div>
</div>